

/*
Some themes from https://color.adobe.com/trends
@import url("theme-architecture.css");
@import url("theme-piday.css");
@import url("theme-botanico.css");
@import url("theme-gnome.css");
*/

@import url("theme-gnome.css");

*{
    margin: 0;
    padding: 0;

  }

  html,body{
    place-items: center;
    word-wrap: break-word;
    overflow:scroll;
    /* No need for X scrollbar */
    overflow-x:hidden;
  }

/* 
  Hide the vertical scrollbar.  It's ugly.
  This works for Chrome and Chromium browsers.
  Note: you can still scroll with mouse wheel or touch screen touch.
*/
html,body::-webkit-scrollbar{
    width:0;
    background-color:transparent;
}

  #now {
    font-size: 4vw;
  }

  #bigpi {
    z-index: -1;
    position: fixed;
    font-size: 50.2vw;
    margin: auto;
    width: 100%;
    text-align: center;
    font-family: "Adobe Arabic";
  }

  #pidigits {
    z-index: 1;
    position: absolute;
    margin-top: 50px;
    width:100%;
    word-wrap: break-word;
    font-size: 2vw;
    font-family: "OCR A Std", "Courier New", monospace;
  }

  ::selection {
    background-color: transparent;
}

::-moz-selection {
    /* Code for Firefox */
    background-color: transparent;
}

/***For Other Browsers ***/
::-o-selection {
  background-color: transparent;
}

::-ms-selection {
  background-color: transparent;
}

/*** For Webkit ***/
::-webkit-selection {
  background-color: transparent;
}

