 [Unit]
 Description=Pi Clock HTTP Server
 After=multi-user.target

 [Service]
 Type=idle
 ExecStart=/usr/bin/python3 -m http.server 80 --directory /home/pi/pi-clock

 [Install]
 WantedBy=multi-user.target
